<!DOCTYPE html>
<html>
<head>
  <title>Inventory</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1>INVENTORY MANAGER</h2>
<div class = "col-md-12 text-center">
	<button type="button" class="btn btn-info" onclick="window.location = 'add' "> Add an item </button><p></p>
	<button type="button" class="btn btn-dark" onclick="window.location = 'display' ">Display items</button>
</div>
</body>
</html>